# .dockerignore

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore git and other VCS directories
.git/
.gitignore

# Ignore other unnecessary files
*.md
